<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">
  <foreignObject width="200" height="200">
    <html xmlns="http://www.w3.org/1999/xhtml">
      <body>
        <img src="{{.}}"/>
      </body>
    </html>
  </foreignObject>
</svg>
