<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500">
  <foreignObject width="500" height="500">
    <html xmlns="http://www.w3.org/1999/xhtml">
      <body>
        <iframe src="{{.}}" width="400" height="400"></iframe>
      </body>
    </html>
  </foreignObject>
</svg>
